# Masukan API ID ambil di web my.telegram.org
API_ID = "24723402"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "2abb73985950164ef591a10161f4b8cd"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringCilik_Bot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "AQAMhXlvFGO7hlEQ4s55JM1vOF77PEPrD6m03RmJXa8o2LCKi20uo_yVMWAFVVjI3UrPFsXywhhV9nCuMQUxzE3cLdRldRv3AfF4uu2IN77HwM9YZBUknpYhkLaIGT9tOKOWGuzbz1Hr1oNa6TKcreuindmkK4-X4odIMx3EAeQZRW8BrzlvQLOWNZDANica-aIa7AocR_sc8Y-C1AaStU0U2zlzEU1MsHLPqnlrS2OymtY3FePf4DVCJD2Nn2POG32qizXTjkVKwv2WhyBekTzTf9aizf8vNYUaohElhauzgeJsggqmThAOPLlm4tKWrHa4IcnB4j_p4MBtrYmD3tqMAAAAAU_CypQA"
STRING_SESSION2 = ""
STRING_SESSION3 = ""
STRING_SESSION4 = ""
STRING_SESSION5 = ""

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1001816604086 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://mqfqdblc:xS4etoWIlQ3hYhSTm5qaIac4d21Jm5A7@rosie.db.elephantsql.com/mqfqdblc"

